#intro {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: black;
    background-image: url(bgs1.jpg);
    overflow: auto;
}
#about {
    height: 100%;
    width: 100%;
    top: 100%;
    position: absolute;
    background-color: black;
    background-image: url(bgs2.jpg);
    overflow: auto;
}
.s1 h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 4.5rem;
    color: #f2eefd;
    text-align: center;
    margin: 10% auto 1% auto;

}
.container-fluid h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4rem;
    color: #f2eefd;
    text-align: center;
    margin: 7% auto 10% auto;

}
.s1 h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
    color: #f2eefd;
    text-align: center;

}
#offcanpara{
    color: white;
    line-height: 0.8rem;
    font-size: 1rem;
}